*{
    margin:0; 
    padding:0
}

body{
    font-family:Arial; 
    font-size:12px; 
    line-height:13px; 
    background:url("images/site_bg.png") top center no-repeat fixed #000
}

a{
    color:#000; 
    text-decoration:none
}

a:hover, a:active, a:focus{
    text-decoration:none; 
    color:#000
}

input[type=text], input[type=password], textarea{
    border:1px solid #ddd; 
    padding:5px
}

input[type=submit]
h1, h2, h4, h5, h6{
    font-weight:normal; 
    margin:0 0 15px
}

h3{
    color:#202021; 
    font-size:12px; 
    font-weight:bold; 
    margin-bottom:2px; 
    line-height:13px
}

h2{
    font-size:25px; 
    line-height:30px
}

img{
    max-width:100%; 
    height:auto
}

.alignleft{
    float:left; 
    margin-left:0px
}

.aligncenter{
    display:block; 
    margin:10px auto
}

.alignright{float:right; margin-left:10px}

.floatleft{
    float:left;
    margin-bottom: 10px;
}

.floatright{
    float:right
}

.center{
    width:980px; 
    display:block; 
    margin:0 auto; 
    padding:20px; 
    background:#fff; 
    transition:all 1.3s ease 0s; 
    -moz-transition:all 1.3s ease 0s; 
    -webkit-transition:all 1.3s ease 0s; 
    -o-transition:all 1.3s ease 0s; 
    -ms-transition:all 1.3s ease 0s
}


div:not(.dropdown):not(.dropdown-item):not(.dropdown-menu){
    overflow: hidden;
}

.slider{height:350px; overflow:visible}

.bxslider, .bx-viewport, .bx-controls, .bx-pager, .bx-controls-direction{overflow:visible}

#selectnav1{display:none}

#selectnav2{display:none}

#nav{display:block}

#f_menu{display:block}

.body_wrapper{
    background:url("images/body_bg.png") repeat; 
    margin-top:30px; 
    margin-bottom:30px
}

.logo{
    margin-top:20px;
    margin-right: 10px;
}

.top_menu{margin-left:60px; margin-top:60px; width:330px}

.top_menu ul{list-style:none outside none; margin:0; padding:0}

.top_menu ul li{float:left; border-right:2px solid #000}

.top_menu ul li:last-child{border-right:none}

.top_menu ul li a{color:#CF0000; display:block; font-size:12px; padding:0 11px; line-height:12px}

.top_menu ul li a:hover{text-decoration:underline}

.social{width:250px; margin:20px 0px 10px 0px}

.social ul{list-style:none outside none; margin:0; padding:0}

.social ul li{float:left; margin-right:7px}

.social ul li a{display:block; padding:12px 13px}

.twitter{background:url("images/social_icons.png") no-repeat scroll 0 0 rgba(0,0,0,0)}

.facebook{background:url("images/social_icons.png") no-repeat scroll -37px 0px rgba(0,0,0,0)}

.feed{background:url("images/social_icons.png") no-repeat scroll -73px 0px rgba(0,0,0,0)}

.header_area{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main_menu_area{
    overflow:visible; 
    background:#000000; 
    min-height:50px
}

.main_menu_area ul{margin:0; padding:0; list-style:none}

.main_menu_area ul li{float:left; position:relative}

.main_menu_area ul li a{
    color:#FFF; 
    display:block; 
    font-family:'bebasregular'; 
    font-size:15px; 
    padding:18px 18.7px
}

.main_menu_area ul li a:hover{background:#CF0000}

#nav li ul{transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; -o-transition:all 0.3s ease 0s; -ms-transition:all 0.3s ease 0s}

 dropdown css level one
.main_menu_area ul li ul{background:none repeat scroll 0 0 #0D0E0F; top:100px; position:absolute; width:215px; z-index:99999; right:-99999px}

.main_menu_area ul li ul li{float:none; position:relative}

.main_menu_area ul >li:hover >ul{left:0px; top:49px}

.main_menu_area ul li ul li a{font-family:arial; font-weight:bold}

 dropdown css level two
.main_menu_area ul li ul li ul{background:none repeat scroll 0 0 #0D0E0F; right:215px; position:absolute; width:215px; z-index:99999; right:-99999px}

.main_menu_area ul li ul li ul li{float:none}

.main_menu_area ul li ul li:hover ul{left:215px !important; top:0px}

.main_menu_area ul li ul li ul li a{font-family:arial; font-weight:bold}

.slider_area, .slider{display:block; position:relative; width:100%; margin:0; padding:0;}

.slider *{margin:0; padding:0;}

.slider img{max-width:100%;}

.slider1{width:670px}

.slider2{width:250px}

.content_area{margin-top:50px}

.main_content{width: 670px}

.left_column{
    width: 300px
}

.single_left_coloum_wrapper{position:relative; margin-left:-10px; margin-bottom:30px}

.single_left_coloum_wrapper .title{margin-left:10px}

.title{
    border-bottom:4px solid #CF0000; 
    font-family:'bebasregular'; 
    font-size:20px; 
    word-spacing:2px;
    margin-top: 15px;
}

.more{background:url("images/plus.png") no-repeat scroll 57px 9px #CF0000; color:#FFF; display:block; font-size:10px; font-weight:bold; padding:4px 20px; position:absolute; right:0; text-transform:uppercase; top:10px}

.popular_more{background:url("images/plus.png") no-repeat scroll 57px 12px #CF0000; color:#FFF; display:block; font-size:10px; font-weight:bold; padding:7px 20px; text-transform:uppercase; width:74px; margin-top:10px}

.single_left_coloum{margin-left:10px; width:143px}

.readmore, .single_cat_right_content_meta span{color:#CF0000; font-size:10px; text-transform:uppercase; font-weight:bold; margin-right:20px}

.readmore:hover, .single_cat_right_content_meta span:hover{color:#CF0000; text-decoration:underline}

.gallery img{margin-bottom:10px; margin-left:10px; width:141px}

.single_cat_left_content{border-bottom:1px dotted #000; margin-left:10px; width:220px}

.single_cat_left_content h3{font-size:15px}

.single_cat_left_content_meta{font-size:11px}

.single_cat_left_content_meta span{color:#cf0000}

.right_coloum{width:190px}

.single_right_coloum{margin-bottom:20px}

.single_right_coloum ul{margin:0; padding:0; list-style:none}

.single_right_coloum ul li{border-bottom:1px dotted #ddd}

.single_right_coloum ul li:last-child{border-bottom:none}

.single_cat_right_content{padding-bottom:10px}

.single_cat_right_content h3{margin-top:10px}

.editorial h3{color:#CF0000}

.sidebar{
    width: 250px
}

.single_sidebar{margin-bottom:20px}

.news-letter{padding:10px; background:#E4E4E4}

.news-letter h2{font-family:bebasregular; font-size:20px; margin-bottom:5px; word-spacing:2px}

.news-letter form input#name{border:1px solid #999; margin-bottom:10px; width:100%}

.news-letter form input#email{border:1px solid #999; margin-bottom:10px; width:100%}

.news-letter form input#form-submit{background:none repeat scroll 0 0 #CF0000; border:medium none; color:#FFF; font-weight:bold; padding:8px 20px; font-size:13px}

.news-letter-privacy{color:#cf0000; margin-top:10px}

#line{
    width: 75%;
}

.popular ul{margin:0; padding:0; list-style:none}

.popular ul li{border-bottom:1px dotted #000; padding-bottom:10px; margin-bottom:10px}

.popular ul li:last-child{border-bottom:none}


.single_popular p{margin-bottom:0}

.single_popular h3{line-height:17px; margin-top:0}

.footer_top_area{border-bottom:1px dotted #000; border-top:1px dotted #000; padding:20px 0; width:940px}

.inner_footer_top{width:730px; margin:0 auto}

.footer_bottom_area{margin-top:15px}

.footer_menu{margin-bottom:20px}

.footer_menu ul{margin:0; padding:0; list-style:none}

.footer_menu ul li{border-right:1px solid #000; display:inline}

.footer_menu ul li:last-child{border-right:none}

.footer_menu ul li a{display:inline-block; padding:0 22px}

.login {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
.login input[type=text], input[type=password] {
    width: 97%;
    padding: 8px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
}

.login input[type=date] {
    width: 97%;
    padding: 8px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
}

/* Set a style for all buttons */
.registerbtn {
    background-color: #ffbd4a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login button {
    background-color: #ffbd4a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
#cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

#main {
    width: 80%;
    max-width: 950px;
    border: 1px gray solid;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}
  
.fa:hover {
    color: darkblue;
}

.buttonLike {
    height: 30px;
    width:  60px;
    background-color: white;
    border-color: rgb(18, 125, 248);
    border-style: groove;
    color: white;
    margin-bottom: 15px;
    border-radius: 25px;
}
.buttonDisLike {
    height: 30px;
    width:  60px;
    background-color: white;
    border-color: rgb(248, 18, 56);
    border-style: groove;
    color: white;
    margin-bottom: 15px;
    border-radius: 25px;
}

.formaZaKviz {
    margin-top: 10px;
}

.post{
    border:3px solid black; 
    display: flex; 
    flex-direction: row;
    justify-content: left; 
    padding:10px; 
    margin:10px;
}

.slika{
    width: 70px;
}

.sadrzaj{
    width: 90%;
    margin-left: 20px; 
    word-wrap: break-word;
}

.formaZaClanak {
    margin-top: 10px;
}

.naslovniClanak {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.naslovniClanak img {
    width: 900px;
    height: 300px;
    object-fit: cover;
}

.pocetna-clanci img{
    object-fit: cover;
}

.forum_user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clanak-slika{
    object-fit: cover;
    margin-bottom: 15px;
}

.clanak-naslov{
    font-size: 40px;
}

.clanak-sadrzaj{
    font-size: 15px;
    padding-bottom: 20px;
}

.komentari{
    display: flex;
    flex-direction: column;
}

.komentar{
    border:3px solid black; 
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    padding:10px; 
    margin:10px;
}

.korisnik-detalji{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.vote-buttons{
    margin-right: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;

}

.vote-count{
    margin: 5px;
    text-align: center;
}

.vote-count-guest{
    margin: 30px 15px;
    padding: 10px 0;
}

.procitaj-vise{
    color:rgb(248, 18, 56);
    font-size: 15px;
    margin-bottom: 10px;
}

.delete-button{
    margin-right: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.forum-tema{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.search form{
    width: 100%;
    margin-left: 10px;
}

.searchTerm {
    width: 85%;
    border: 3px solid #00B4CC;
    height: 50px;
    /* border-radius: 5px 0 0 5px; */
    outline: none;
    color: #9DBFAF; 
    font-size: 20px;
}

.searchTerm:focus{
    color: black;
}

.search-submit{
    background:url("https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png") no-repeat scroll 0 0 #ffbd4a; 
    width: 13%;
    height: 50px;
    text-align: center;
    background-size: 70%;
    background-position: center;
}

.login_register{
    width: 20%;
    background-color:#333;
    height: 50px;
    margin-top: 23px;
    /* overflow: visible; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.login_register ul{
    margin-top: inherit;
    margin-bottom: 10px;
    list-style: none
}

.login_register ul li{
    float: left; 
    position: relative
}

.login_register ul li a{
    color: #f2f2f2;
    text-align: center;
    padding: 18px 12px;
    text-decoration: none;
    font-family: 'bebasregular'; 
    font-size:15px;
}

.login_register a:hover{
    background-color: #ffbd4a;
}

.kviz-nav {
    overflow:visible; 
    background:#ffbd4a;
    min-height:50px
}

.kviz-nav ul li a:hover{background:darkorange}

#nav1 {
    display: block;
}